body{
    font-family: Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.timer-wrapper{
    display: flex;
    border: 1pt solid black;
    border-radius: 10pt;
    padding: 1rem;
    background-color: white;
}

.timer-wrapper > div {
    color-scheme: white;
    text-align: center;
    

}

h1{
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-size: 80pt;
}

p{
    font-size: 120pt;
    margin: 0 2rem;
    padding:1rem;
}

span{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    opacity: 50%;
}

.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    border: 1pt solid black;
    border-radius: 10pt;
    background-color: greenyellow;
}

#form > div {
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#moreinfo{
    color:gray;
    font-size: 12pt;
}

#bbb{
    	
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
    
    position: fixed;
    z-index: -99999;
    top:0;
    left: 0;



}

h3{
    font-weight: normal;
    margin: 0;
}

#butt{
    background-color: black;
    color: greenyellow;
    border: 0;
    border-radius: 5pt;
    text-align: center;
    align-self: center;
    padding-right: 10pt;
    padding-left: 10pt;
    padding-top: 2pt;
    padding-bottom: 2pt;
}

#mood1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99998;
   
}

#mood{
    color: black;
    font-size: 20pt;
}

#card{ 
    
    
    width: 400px;
    height: 400px;
    margin-top: 10rem;
    margin-left: 35rem;
    border-radius: 200pt;
    border: solid 1pt black;
    z-index: 99999;
    padding:0;
}

#back{
    width: 3200px;
    top: -37rem;
    left: -58rem;
    z-index: -99999;
    position: fixed;
}
